script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
.container
  .row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      form(action='account/signup', method='POST', role='form')
        legend Đăng ký
        .form-group
          label(for='') Tên hiển thị
          input.form-control(type='text', name='fullname')
        .form-group
          label(for='') Email
          input.form-control(type='text', name='email')
        .form-group
          label(for='') Mật khẩu
          input.form-control(type='text', name='password')
        .form-group
          label(for='') Xác nhận mật khẩu
          input.form-control(type='text')
        button.btn.btn-primary(type='submit') Submit
    .col-xs-6.col-sm-6.col-md-6.col-lg-6
      form(action='account/signin', method='POST', role='form')
        legend Đăng nhập
        .alert.alert-danger
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          strong Đăng nhập thật bại
        .form-group
          label(for='') Email
          input.form-control(type='text', name='email')
        .form-group
          label(for='') Mật khẩu
          input.form-control(type='password', name='passwd')
        button.btn.btn-primary(type='submit') Submit
script.
  let socket = io();
  let signin = () => {
  socket.emit('Signin', {email: document.forms[2][0].value, passwd: document.forms[2][1].value});
  }
