<% include header %>
        <div class="container">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Thời khóa biểu</a>
                    <a href="#" class="list-group-item">Lịch</a>
                    <a href="#" class="list-group-item">Điểm số</a>
                </div>
            </div>
            
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <% events.forEach((e) => { %>
                    <li><%= e.summary %></li>
                <% }) %>                   
            </div>
            
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        console.log( <%= events[0] %> );
    </script>
</html>
