<% include header %>
    <% if(locals.classes) {
        locals.classes.forEach(currentClass => { %>
        <li><a href="/c/<%= currentClass._id %>"><%= currentClass.TENLOP %></a></li>
    <% })} %>
    </body>
</html>
